.gameboard-tile{
    height: 12%;
    width: 12%;
    margin: .25%;
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.red, .blue, .green, .yellow, .brown, .purple{
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}
.red{
    background: #FF232F;
    border-top-color: #7F1118;
    border-left-color: #7F1118;
    border-right-color: #FF6F78;
    border-bottom-color: #FF6F78;
}
.blue{
    background: blue;
    border-top-color: #02006b;
    border-left-color: #02006b;
    border-right-color: #7d6fff;
    border-bottom-color: #7d6fff;
}
.green {
    background:green;
    border-top-color: #01470a;
    border-left-color: #01470a;
    border-right-color: #5b8f56;
    border-bottom-color: #5b8f56;
}
.yellow {
    background: #FFED22;
    border-top-color: #7F7611;
    border-left-color: #7F7611;
    border-right-color: #FFF7A1;
    border-bottom-color: #FFF7A1;
}
.brown {
    background: rgb(88, 12, 12);
    border-top-color: #3a0303;
    border-left-color: #3a0303;
    border-right-color: #552d2d;
    border-bottom-color: #552d2d;
}
.purple {
    background-color: purple;
    border-top-color: #38033a;
    border-left-color: #38033a;
    border-right-color: #583757;
    border-bottom-color: #583757;
}
.bomb {
    background-image: url('../assets/images/ssbicon.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.match{
    background-image: url('../assets/images/boom.gif');
    background-size: 100% 100%;
    animation: pop .9s linear 0s 1;
    opacity: 0;
}
.click{
    cursor: pointer;
}
.click1,
.click2{
    cursor: pointer;
}
.highlight{
    border-top-color: #ececec;
    border-left-color: #ececec;
    border-right-color: #adadad;
    border-bottom-color: #adadad;
}
.up {
    animation: up .8s linear 0s 1;
    top: -12.5%;
}
.down {
    animation: down .8s linear 0s 1;
    bottom: -12.5%;
}
.right {
    animation: right .8s linear 0s 1;
    right: -12.5%;
}
.left {
    animation: left .8s linear 0s 1;
    left: -12.5%;
}

/* ----------animations-----------------*/

@keyframes pop {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes up {
    from {
        top: 0%
    }
    to {
        top: -12.5%
    }
}
@keyframes down {
    from {
        bottom: 0%
    }
    to {
        bottom: -12.5%
    }
}
@keyframes right {
    from {
        right: 0%
    }
    to {
        right: -12.5%
    }
}
@keyframes left {
    from {
        left: 0%
    }
    to {
        left: -12.5%
    }
}